::ng-deep.mat-tab-group.mat-primary .mat-ink-bar, ::ng-deep.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #e8c218;
}

::ng-deep.mat-ripple:not(:empty) {
  margin-right: 30px;
  border-bottom: 4px solid #d8d8d8;
}


::ng-deep.mat-ink-bar {
  height: 4px !important;
}

::ng-deep.mat-tab-header {
  margin-left: 1px;
  .mat-tab-label-container {
      margin-bottom: 0px;
      .mat-tab-labels {
        .mat-tab-label {
          padding: 0 4px 0 4px !important;
          min-width: 10px;
          margin-left: 0px;
        }
      }
  }
}
.exit-button{
  position: absolute;
  top: 8px;
  right: 0px;
  border-radius: 0;
  z-index: 1;
  min-width: 35px;
  padding: 0;
  color: #817e7e;
  }
.return-button{
    position: absolute;
    top: 8px;
    right: 50px;
    border-radius: 0;
    z-index: 1;
    min-width: 35px;
    padding: 0;
    color: #817e7e;
    }
.button:hover{
   border-bottom: 4px solid red;
}

.head-icon{
  margin: 0 0 0 7px;
  color: orange;
  font-size: 18px;
}

::ng-deep .mat-dialog-container{
  padding: 0 !important;
}

::ng-deep .mat-dialog-content{
  display: inline !important;
}

::ng-deep .cdk-overlay-pane{
  max-width: 95% !important;
  // height: 95% !important;
}

